<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">C1</section>
        <section class="col">C2</section>
        <section class="col">C3</section>
    </div>
</footer>