{% extends 'base.html.twig' %}

{% block title %} Fideli'Trip - MotorStore{% endblock %}

{% block body %}
<div>
    <div class="pageTitleDiv">
        <h1 class="pageTitleH1">Fideli'Trip</h1>
    </div>
    <div class="row" style="margin-top: 2em;">
        <div class="col-md-6">
            <div style="text-align:center">
                <img src="/uploads/utility/FIDELI'TRIP.png" alt="Affiche du programme Fideli'TRIP" class="img-fluid rounded"
                    style="height: 60%; width: 60%">
            </div>
        </div>
        <div class="col-md-6" style="padding-right:10%; padding-left:5%;">
            <h3>Cumulez des points sur vos commandes</h3>
            <h6>Et profitez de 10% de réduction sur tous vos achats !</h6>
            <p>
                Fideli'Trip est le programme de fidélité Spéciale de Motor'Store. En choisissant de rejoindre ce
                programme vous
                obtiendrez l'accès à de divers avantages et à de nombreuses remises qui vous seront spécialement
                réservés.
            </p>
            <h3>Comment ca marche ? C'est très simple ! </h3>
            <p>Lors de chacun de vos achats, si vous avez créé un compte, nous venons ajouter des points de fidélité à
                votre compte. </p>
            <h6 style="text-align: center;">1 euro dépensé = 1 point de fidélité </h6>
            <h6 style="text-align: center;">10 points de fidélité = 1 euro de réduction.</h6>
            <p>Lors de votre commande suivante, vous pouvez utiliser ces points pour obtenir une réduction sur vos
                achats !
                Une seule remarque : vous avez besoin d’avoir créé un compte et d’être connecté(e) pour cumuler vos
                points et en profiter lors de votre achat suivant !</p>
            <button class="btn btn-primary"> Rejoindre le Programme de Fidélité</button>
        </div>
    </div>
</div>

{% endblock %}