{% extends 'base.html.twig' %}


{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Accueil</h1>
            <p>Bienvenue sur le site</p>
        </div>
    </section>
</main>
{% endblock %}
