{% extends 'base.html.twig' %}


{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <aside style="background-color: black; width: 30%; height: 40em"></aside>
        </div>
    </section>
</main>
{% endblock %}
