@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


header{
    margin-left: 0%;
    margin-right: 0%;
}

body{
    background: white;
    position: absolute;
    padding-top: 75px;
    overflow-x: hidden;
    text-align: center;
    width: 100%;
    font-family: 'Barlow', sans-serif;

}

a{
    text-decoration: none;
    color: black;
    list-style-type: none;
    font-weight: bold;

}

ul{
    list-style: none;
    margin: 0% auto;
}

h5{
    font-weight: bold;
    color: black;
}

.navbar{
    text-align: center;
    margin-bottom: 2em;
    background-color: goldenrod;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    left: 0;
    width: 100%; /* Full width */
    z-index: 15;
    height: 75px;
}

.navbar .logoHome{
    font-size: 1em;
}

.navbar .nav-link{
    color: black;
    font-weight: bold;
    text-align: center;
}

.navbar .nav-item{
    margin-left: 1em;
    margin-right: 1em;
}

.imageProductItem{
    display: flex;
    justify-content: center;
}

.imageProductItem img{
    margin: auto;
    width: 100%;    
    max-width: 300px;
}

a:hover{
    color: black;
}

.pageTitleDiv{
    position: relative;
    background-image: url("/public/uploads/utility/ktmMoto.jpg");
    height: 175px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1%;
}

.pageTitleH1{
    position: absolute;
    z-index: 1;
    color: black;
    font-weight: bold;
    margin-top: 2.5%;
    margin-left: 2.5%;
    font-size: 45px;
}
.pageTitleIMG{
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 72.5rem;
    padding: 0.5rem 0;
    margin: 0.5rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 0.25rem;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  @media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}