@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: white;
}
 
p{
    font-style: italic;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
    list-style-type: none;
}

.navbar {
    background-color: lightgray;
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}

.navbar h4 {
    margin-left: 2em;
    font-weight: bold;
}

.navbar ul {
    margin-left: 20%;
    margin-right: 50px;
}

.navbar ul li {
    margin-left: 1em;
    margin-right: 1em;
    font-weight: bold;
    color: black;
}

.navbar ul li.connected {
    margin-right: 0em;
}


.navbar ul li ul {
    margin-left: -1em;
}

.navbar ul li ul li {
    font-weight: bold;
    text-align: center;
}

.categoryStyle{
    text-align: center;
    padding: 1em;
    background-color: lightgray;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 2px;
    border-radius: 30px;
    border-color: black;
}

.subCategoryTitle{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.divSubCategory {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    padding: 5em;
}

.divSubCategory a{
    text-decoration: none;
    color: black;
}

.itemProduct{
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 700px;
    background-color: white;
}

.productDesc{
    text-align: center;
    font-weight: bold;
    font-style: italic;
    margin-top: 1em;
}

.itemProduct p{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.imageProductItem{
    display: flex;
    justify-content: center;
}

.imageProductItem img{
    margin: auto;
    width: 100%;    
    max-width: 300px;
}

.productPrice{
    display: flex;
    justify-content: center;  
}

.productPrice p{
    text-align: center;
    margin-left: 2em;
    margin-top: 1em;
}

//.showMoreButton{}

.searchBar{
    display: flex;
    justify-content: center;
    margin-top: 1em !important;
    margin-bottom: 1em !important;

}

.searchBar input{
    margin-right: 1em;
    background-color: lightgrey;
    width: 30%;
}

