{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
<h1>Bienvenue dans votre espace personnelle ! </h1>
<hr>
{% for message in app.flashes('warning') %}
<div class="alert alert-warning mt-4">
    {{message}}
</div>
{% endfor %}
{{ form(form)  }}
{% endblock %}
